<div id="container">
    <h1>Registrations webapp</h1>
    <p id="glossary">Glossary</p>
    <h3 class="sub-head">Add a registration below</h3>

    <p id="error-message">{{error}}</p>
    
    <form action="/add_reg" method="POST" id="reg-inputs">
        <label for="reg">Registration Number : </label>
        <input type="text" value="" name="reg">
        <button type="submit" id="add-btn">Add</button>
    </form>

    <p id="success-message">{{success}}</p>

    {{#each regs}}
        <div id="reg-display">
            <p class="reg-plate">{{registration}}</p>
        </div>
    {{/each}}

    <h3 class="sub-head">Filter registrations by selecting a town below</h3>
 
    <form action="/town_regs" method="POST" id="town-regs">
        <input type="radio" name="town" value="all"> All Towns
        <input type="radio" name="town" value="Cape Town"> Cape Town
        <input type="radio" name="town" value="Bellville"> Bellville
        <input type="radio" name="town" value="Stellenbosch"> Stellenbosch
        <input type="radio" name="town" value="Paarl"> Paarl
        <input type="radio" name="town" value="Beaufort West"> Beaufort West
        <button type="submit" id="show-btn">Show</button>
    </form>

    <form action="/reset" method="GET" onsubmit="resetRegs()" id="reset-form">
        <button type="submit" id="reset-btn">Reset</button>
    </form>


</div>


<script>

    //Report deleted data
    function resetRegs(){
        alert('You have just deleted all the records in the registrations table');
    }

    //reference DOM elements
    let errorMessage = document.querySelector('#error-message');
    let successMessage = document.querySelector('#success-message');

    //hide the error message after 3 seconds
    if(errorMessage.textContent){
       setTimeout(function(){
            errorMessage.style.display = 'none';
            errorMessage.textContent = '';
       }, 3000)
    } 
    
    //hide the success message after 3 seconds
    if(successMessage.textContent){
        setTimeout(function(){
            successMessage.style.display = 'none';
            successMessage.textContent = '';
        }, 3000)
    }
</script>