<div id="container">
    <h1> Hello there, Welcome to the view engine</h1>
    <form action="/add_reg" method="POST">
        <label for="reg">Registration Number : </label>
        <input type="text" value="" name="reg">
        <button type="submit">Add</button>
    </form>

    {{#each regs}}
        <tr>
            <td>{{registration}}</td>
        </tr>
    {{/each}}
</div>