@import url('https://fonts.googleapis.com/css2?family=Abel&family=Comfortaa:wght@300&family=Inconsolata:wght@500&family=Poppins:wght@200&family=Protest+Revolution&family=Rubik+Glitch+Pop&display=swap');

#container{
    background-color: gainsboro;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: .5em;
}

.reg-plate{
    background-color: white;
    border: 2px solid #333;
    border-radius: 5px;
    color: #333;
    width: fit-content;
    padding: 1em 1.5em;
}

#reg-display{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 110px;
}

#error-message{
    color: crimson;
    text-align: center;
    font-size: 1.5em;
}

#success-message{
    color: green;
    text-align: center;
    font-size: 1.5em;
}

#reg-display-div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 25em;
}

#reg-inputs, #town-regs{
    margin: 2.3em 0;
}

#reset-form{
    margin: 1.7em 0;
}

#add-reg-label{
    font-family: 'Poppins', sans-serif;
    font-weight: lighter;
    text-shadow: 2px 2px 2px lightslategrey;
    padding: 0 0 0 .5em;
    font-size: 120%;
}


input{
    border: 1.5px solid black;
    border-radius: 25px;
    padding: .6em;
}

.sub-head{
    font-family: 'Protest Revolution', sans-serif;
    letter-spacing: 1px;
    color: navajowhite;
    font-size: 150%;
    text-align: center;
    text-shadow: 1px 1px 1px #333;
}

.radio-label{
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.2px;
    font-size: 115%;
    text-shadow: 1px 1px 1px snow;
    font-weight: bold;
}

#add-btn{
    padding: .5em 1em;
    margin: 0 0 0 1em;
    background-color: lightgreen;
    border: 1.5px solid black;
    border-radius: 20px;
    font-family: 'Comfortaa', sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
}

#show-btn{
    margin: 0 0 0 2em;
    background-color: lightsteelblue;
    padding: .5em 1em;
    border: 1.5px solid black;
    border-radius: 20px;
    font-family: 'Comfortaa', sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
}

#main-heading{
    font-family: 'Rubik Glitch Pop', system-ui;
    color: khaki;
    letter-spacing: .5px;
    text-shadow: 1px 1px 1px black;
}

#glossary, .glossary-list{
    margin: 0 0 0 65em;
    font-family: 'Arial';
    font-size: 1em;
}

.glossary-list > li{
    padding: .3em 0;
    color: darkolivegreen;
    font-family: 'Inconsolata', sans-serif;
    text-shadow: 1px 1px 1px ghostwhite;
}

#glossary{
    color: white;
    text-shadow: 1px 1px 1px #FC6736;
    font-family: 'Protest Revolution', sans-serif;
    margin-bottom: 1em;
    font-size: 150%;
    margin-right: 25em;
}

#glossary-list{
    color: lightseagreen;
}

.radio-input{
    font-family: 'Lato';
}

#reset-btn{
    background-color: lightcoral;
    border: 1.5px solid black;
    border-radius: 20px;
    padding: .5em 1em;
    font-family: 'Comfortaa', sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
}

#add-btn:hover, #show-btn:hover, #reset-btn:hover{
    background-color: white;
    font-weight: 600;
}

.selection-options{
    display: inline;
}

@media screen AND (max-width: 900px) {
    .glossary-list, #glossary{
        margin: 0;
    }

    #add-btn{
        margin: 1em 1em;
    }

    #reg-input > input {
        margin: 1em 1em;
    }

    #town-regs{
        margin: 1em;
        display: flex;
        flex-direction: column;
    }

    #radio-input{
        padding: 0;
    }

    #main-heading{
        text-align: center;
    }

    #show-btn{
        margin: 1em 0 0 0;
    }

    #reg-display{
        width: 180px;
        height: 100px;
    }

    #reg-display-div{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
}
